<ul>
  <% posts.each (function (post) { %>
    <li>
      <h2><a href="<%= "#/posts/" + post.id %>"><%= post.escape("title") %></a></h2>
      <p><%= post.escape("body") %></p>
      <button class="post-delete" data-id="<%= post.id %>">Delete</button>
    </li>    
  <% }) %>
</ul>